body {
  display: grid;
  place-content: center;
  min-block-size: 100dvh;
  font-size: 1.3rem;
  text-transform: capitalize;
}

html {
  color-scheme: dark;
  font-family: system-ui;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  transition: all 0.3s;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  position: relative;
  padding: 8px 20px;
}
ul li::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  left: 0;
  background-color: orangered;
  bottom: 0;
  scale: 0 1;
  transition: scale 300ms, translate 250ms;
  transform: skew(70deg);
}
ul li:hover:after {
  scale: 1 1;
}

ul li:hover + li::after {
  translate: -100%;
  transition: scale 300ms 200ms, translate 250ms 200ms;
}

nav ul li:has(+ :hover)::after {
  translate: 100%;
  transition: scale 300ms 200ms, translate 250ms 200ms;
}
